ul {
  padding: 0;
  margin-top: 40px; }
  ul li {
    display: inline-table; }
    ul li a {
      color: #999;
      text-decoration: none;
      font-family: oswald;
      font-size: 18px;
      margin-right: 20px;
      margin-left: 20px; }
      ul li a:hover {
        text-decoration: none;
        color: #E8663C; }

.imagen-slider img {
  vertical-align: middle;
  width: 90%; }

.logo a {
  text-decoration: none; }
  .logo a h1 {
    color: #E8663C;
    font-family: "Yanone Kaffeesatz";
    font-size: 4em;
    font-weight: bold; }
    .logo a h1 span {
      color: #EFADA0; }

.caja {
  width: 100%;
  padding: 0 5%;
  margin-top: 20px; }
  .caja .content {
    width: 40px;
    height: 30px;
    display: inline-block;
    margin-top: 0; }
    .caja .content .square {
      margin-top: -368px; }

.texto {
  margin-top: 20px;
  text-align: justify; }
  .texto span {
    color: #E8663C;
    font-size: 20px;
    font-family: "Oswald";
    margin-left: 10px;
    text-align: justify; }
  .texto .abajo {
    margin-left: 70px; }
  .texto .abajo1 {
    margin-left: 65px; }
  .texto .icono-1 {
    margin-right: 10px;
    height: 40px;
    width: 40px; }
  .texto .info {
    width: 320px;
    margin-bottom: 20px; }
  .texto a {
    text-decoration: none;
    background-color: #E8663C;
    color: #FFFFFF;
    font-family: "Oswald";
    padding: 3px 10px;
    font-size: 14px;
    margin-top: 20px; }
    .texto a:hover {
      background-color: #EFADA0; }

section h2 {
  font-family: "Oswald";
  font-size: 18px;
  color: #E8663C;
  font-weight: bold;
  margin-top: 20px;
  display: inline-block;
  margin-right: 50px;
  text-transform: uppercase;
  margin-top: 50px; }
section .superior {
  margin-top: 20px;
  border: solid 1px #A0A0A0;
  width: 250px;
  overflow: hidden; }
section .post {
  width: 260px;
  height: 200px; }
section .h-3 {
  color: #A0A0A0;
  font-size: 22px;
  font-family: "Yanone Kaffeesatz";
  margin: 10px 30px; }
section .h-4 {
  color: #E8663C;
  font-size: 14px;
  font-family: "Oswald";
  margin: 10px 30px 20px 30px; }

footer .rojo-claro {
  background-color: #E8663C;
  margin-top: 50px;
  color: #FFFFFF;
  padding: 30px 0px; }
footer .single_footer {
  width: 300px;
  margin-left: 20px; }
footer h2 {
  font-family: "Oswald";
  text-transform: uppercase;
  font-size: 22px; }

/*estilos de about us*/
.supreme {
  background-color: #E8663C;
  font-family: "Oswald";
  color: white;
  font-size: 22px;
  padding: 10px;
  display: inline-block;
  width: 90%;
  height: 47px; }

.costado {
  margin-top: -9px; }

.entrada {
  margin-top: 20px; }
  .entrada .autor {
    margin-left: 30px;
    padding: 5px;
    border: 1px solid #A0A0A0;
    margin-top: 20px; }

section p {
  font-weight: 500;
  margin-top: 20px; }
section .articulo {
  margin-left: 100px;
  border-left: solid 10px #E8663C;
  width: 650px; }
  section .articulo p {
    margin-left: 20px;
    color: #E8663C; }

.aside h5 {
  font-family: "Oswald";
  color: #E8663C;
  font-size: 1.5em;
  margin-top: 20px; }
.aside .articles {
  height: 150px;
  margin-top: 30px; }
.aside .lista2 {
  display: block; }
  .aside .lista2 a {
    font-size: 16px;
    color: black;
    font-family: "Yanone Kaffeesatz"; }
    .aside .lista2 a:hover {
      color: #EFADA0; }
.aside ul {
  margin-top: 15px; }
.aside .linea-1 {
  margin-bottom: 5px; }
  .aside .linea-1 img {
    border: solid 1px #E8663C; }
.aside .linea-2 img {
  border: solid 1px #E8663C; }

/*estilos de blog*/
.entrada1 {
  margin-top: 20px; }
  .entrada1 .photo1 {
    margin-top: -223px;
    margin-right: 20px; }
  .entrada1 h5 {
    font-family: "Oswald";
    color: #E8663C;
    font-size: 1em;
    margin-left: 100px;
    margin-top: 20px; }
  .entrada1 h6 {
    margin-left: 100px;
    color: #A0A0A0;
    font-size: 1em; }
  .entrada1 ul {
    padding: 0;
    margin-left: 95px; }
    .entrada1 ul a {
      font-size: 1em;
      color: #A0A0A0;
      margin: 0px 5px; }
  .entrada1 h4 {
    font-family: "Oswald";
    color: #E8663C;
    font-size: 1.8em;
    margin-top: 20px; }

.art {
  background-color: #f2f2f2;
  padding: 10px;
  font-weight: 700;
  font-size: 1.2em;
  margin-left: 20px; }

.art2 {
  font-size: 1.2em;
  margin-left: 20px; }

.contenido {
  display: -webkit-box;
  margin-top: 40px; }
  .contenido h3 {
    font-family: "Oswald";
    color: #E8663C;
    font-size: 1.6em;
    margin-top: 5px; }
  .contenido a {
    color: #A0A0A0;
    text-decoration: none;
    margin-bottom: 10px; }

/*estilos de portfolio*/
.photo3 {
  width: 230px;
  height: 150px;
  padding: 3px;
  border: solid 1px #A0A0A0; }

.categoria {
  display: inline-block;
  margin-bottom: 30px; }
  .categoria h2 {
    font-family: "Oswald";
    color: #E8663C;
    font-size: 2em;
    margin-top: 20px; }

.cartelera {
  margin-bottom: 20px; }
  .cartelera .descripcion {
    padding: 5px;
    border: solid 1px #A0A0A0;
    width: 230px;
    margin-top: 5px; }
    .cartelera .descripcion h5 {
      font-family: "Oswald";
      color: #E8663C;
      font-size: 1.2em; }
    .cartelera .descripcion h6 {
      font-family: "Oswald";
      color: #A0A0A0;
      font-size: 1em; }

/*estilos de contact*/
.map {
  margin-top: 20px;
  margin-bottom: 20px; }

.post-item {
  margin-left: 10px; }
  .post-item p {
    width: 250px; }
  .post-item .direccion {
    margin-left: 1px; }
    .post-item .direccion h5 {
      font-family: "Oswald";
      color: #E8663C;
      font-size: 1.2em; }

input, textarea {
  border: solid 1px #E8663C;
  display: -webkit-box;
  margin-bottom: 20px;
  padding: 10px 5px; }

form {
  margin-top: 20px; }

.submit {
  background-color: #E8663C;
  color: #ffffff;
  padding: 10px 40px;
  font-size: 1.5em;
  font-family: "Oswald";
  text-transform: uppercase;
  width: 377px; }

*::-webkit-input-placeholder {
  /* Google Chrome y Safari */
  color: #E8663C; }

*:-moz-placeholder {
  /* Firefox anterior a 19 */
  color: #E8663C; }

*::-moz-placeholder {
  /* Firefox 19 y superior */
  color: #E8663C; }

*:-ms-input-placeholder {
  /* Internet Explorer 10 y superior */
  color: #E8663C; }

/*# sourceMappingURL=style.css.map */
