ul{
	padding: 0;
	margin-top: 40px;
	li{
	display: inline-table;
		a {
    	color: #999;
    	text-decoration: none;
    	font-family: oswald;
    	font-size: 18px;
    	margin-right: 20px;
    	margin-left: 20px;
    		&:hover{
    			text-decoration:none;
    			color: $rojo-oscuro;
    		}
		}
	}
}
.imagen-slider{
	img {
    vertical-align: middle;
    width: 90%;
	}
}
.logo{
	a{
	text-decoration: none;
	h1{
		color: $rojo-oscuro;
		font-family: $yanone;
		font-size: 4em;
		font-weight: bold;
		span{
			color: $rojo-claro;
		}
	}
	}
}
.caja{
	width: 100%;
    padding: 0 5%;
    margin-top: 20px;
    .content{
    	width: 40px;
    	height: 30px;
    	display: inline-block;
    	margin-top: 0;
    	.square{
    		margin-top: -430px;
    	}
    }
}
.texto{
	margin-top: 20px;
	text-align: justify;
	span{
		color: $rojo-oscuro;
		font-size: 20px;
		font-family: $oswald;
		margin-left: 10px;
		text-align: justify;
	}
	.abajo{
		margin-left: 70px;
	}
	.abajo1{
		margin-left: 65px;
	}
	.icono-1{
		margin-right: 10px;
		height: 40px;
		width: 40px;
	}
	.info{
		width: 320px;
		margin-bottom: 20px;
	}
	a{
		text-decoration: none;
		background-color: $rojo-oscuro;
		color: #FFFFFF;
		font-family: $oswald;
		padding: 3px 10px;
		font-size: 14px;
		margin-top: 20px;
		 	&:hover{
				background-color: $rojo-claro;
		 	}
	}
}
section{
	h2{
		font-family: $oswald;
		font-size: 18px;
		color: $rojo-oscuro;
		font-weight: bold;
		margin-top: $mr-top;
		display: inline-block;
		margin-right: 50px;
		text-transform: uppercase;
		margin-top: 50px;
	}
	.superior{
		margin-top: $mr-top;
		border: solid 1px $gris;
		width: 250px;
		overflow: hidden;
	}
	.post{
		width: 260px;
		height: 200px;
	}
	.h-3{
		color: $gris;
		font-size: 22px;
		font-family: $yanone;
		margin: 10px 30px;
	}
	.h-4{
		color: $rojo-oscuro;
		font-size: 14px;
		font-family: $oswald;
		margin: 10px 30px 20px 30px;
	}
}
footer{
	.rojo-claro{
		background-color: $rojo-oscuro;
		margin-top: 50px;
		color: #FFFFFF;
		padding: 30px 0px;
	}
	.single_footer{
		width: 300px;
		margin-left: 20px;
	}
	h2{
		font-family: $oswald;
		text-transform: uppercase;
		font-size: 22px;
	}
}
/*estilos de about us*/
.supreme{
	background-color: $rojo-oscuro;
	font-family: $oswald;
	color: white;
	font-size: 22px;
	padding: 10px;
	display: inline-block;
	width: 90%;
	height: 47px;
}
.costado{
	margin-top: -9px;
}
.entrada{
	margin-top: $mr-top;
	.autor{
		margin-left: 30px;
		padding: 5px;
		border: 1px solid $gris;
		margin-top: $mr-top;
	}
}
section{
	p{
		font-weight: 500;
		margin-top: $mr-top;
	}
	.articulo{
		margin-left: 100px;
		border-left: solid 10px $rojo-oscuro;
		width: 650px;
		p{
			margin-left: $mr-top;
			color: $rojo-oscuro;
		}
	}
}
.aside{
	h5{
		font-family: $oswald;
		color: $rojo-oscuro;
		font-size: 1.5em;
		margin-top: 20px;
	}
	.articles{
		height: 150px;
		margin-top: 30px;
	}
	.lista2{
		display: block;
		a{
			font-size: 16px;
			color: black;
			font-family: $yanone;
			&:hover{
				color: $rojo-claro;
			}
		}
	}
	ul{
		margin-top: 15px;
	}
	.linea-1{
		margin-bottom: 5px;
		img{
			border: solid 1px $rojo-oscuro;
		}
	}
	.linea-2{
		img{
			border: solid 1px $rojo-oscuro;
		}
	}
}
/*estilos de blog*/
.entrada1{
	margin-top: $mr-top;
	.photo1{
		margin-top: -223px;
		margin-right: $mr-top;
	}
	h5{
		font-family: $oswald;
		color: $rojo-oscuro;
		font-size: 1em;
		margin-left: 100px;
		margin-top: 20px;
	}
	h6{
		margin-left: 100px;
		color: $gris;
		font-size: 1em;
	}
	ul{
		padding: 0;
		margin-left: 95px;
		a{
			font-size: 1em;
			color: $gris;
			margin: 0px 5px;

		}
	}
	h4{
		font-family: $oswald;
		color: $rojo-oscuro;
		font-size: 1.8em;
		margin-top: 20px;
	}
}
.art{
	background-color: #f2f2f2;
	padding: 10px;
	font-weight: 700;
	font-size: 1.2em;
	margin-left: $mr-top;
}
.art2{
	font-size: 1.2em;
	margin-left: $mr-top;
}
.contenido{
	display: -webkit-box;
	margin-top: 40px;
	h3{
		font-family: $oswald;
		color: $rojo-oscuro;
		font-size: 1.6em;
		margin-top: 5px;
	}
	a{
		color: $gris;
		text-decoration: none;
		margin-bottom: 10px;
	}
}